{
    "version": "@VERSION@",
    "description": "@DESCRIPTION@",
    "homepage": "@HOMEPAGE@",
    "license": "@LICENSE@",
    "architecture": {
        "64bit": {
            "url": "@URL_WINDOWS_X64@",
            "hash": "@SHA256_WINDOWS_X64@"
        }
    },
    "bin": "bin\\dss\\dsscp.exe"
}
